<div class="assignment">
  <div ng-if="vm.edit">
    <div class="assignment-edit container-fluid">
      <h1>Edit Assignment</h1>
      <form name="assignmentEdit" novalidate role="form" ng-submit="vm.submit(assignmentEdit.$valid)" class="form-horizontal">
        <div class="col-md-4">
          <div class="form-group">
              <label for="assignmentName">Name</label>
              <input required type="text" class="form-control" id="assignmentName" ng-model="vm.assignment.name" placeholder="Name*">
          </div>
          <div class="form-group">
            <label for="assignmentLanguage">Language</label>
            <language-select required selected-language="vm.assignment.language_name" id="assignmentLanguage"></language-select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label for="assignmentDate">Date</label>
                <input required type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" is-open="vm.datePickerOpen" show-button-bar="false" ng-model="vm.assignment.start_date" ng-click="vm.datePickerOpen = true" datepicker-options="vm.dateOptions" id="assignmentDate">
              </div>
              <div class="col-sm-6">
                <label for="assignmentTime">Start Time</label>
                <uib-timepicker ng-model="vm.assignment.start_date" show-spinners="false" id="assignmentTime"></uib-timepicker>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="assignmentType">Type</label>
            <ui-select required ng-model="vm.assignment.type">
              <ui-select-match>
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="assignment.key as assignment in vm.enums.arrays.assignment_type | filter:{name: $select.search}">
                {{assignment.name}}
              </ui-select-choices>
            </ui-select>
          </div>
          <h4>Contact Info</h4>
          <div class="form-group">
            <label for="assignmentStreet">Street</label>
            <input type="text" class="form-control" ng-model="vm.assignment.contact.street" id="assignmentStreet" placeholder="Street Address">
          </div>
          <div class="form-group">
            <label for="assignmentCity">City</label>
            <input type="text" class="form-control" ng-model="vm.assignment.contact.city" id="city" placeholder="City">
          </div>
          <div class="form-group">
            <label for="assignmentState">State</label>
            <input type="text" class="form-control" ng-model="vm.assignment.contact.state" id="state" maxlength="2" placeholder="State">
          </div>
          <div class="form-group">
            <label for="assignmentEmail">Email</label>
            <input name="email" type="email" class="form-control" ng-model="vm.assignment.contact.email" id="assignmentEmail" placeholder="E-mail Address">
          </div>
          <div class="form-group">
            <label for="assignmentZip">ZIP Code</label>
            <input type="text" class="form-control" ng-model="vm.assignment.contact.zip" id="assignmentZip" maxlength="10" placeholder="ZIP Code">
          </div>
          <div class="form-group">
            <label for="assignmentPhone">Phone Number</label>
            <input id="assignmentPhone" name="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="tel" maxlength="10" class="form-control" ng-model="vm.assignment.contact.phone_number"
              placeholder="Phone Number*">
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-12">
              <h4>Assigned Volunteers</h4>
            </div>
            <div class="col-sm-12">
              <volunteers-edit selected-volunteers="vm.assignment.volunteers"></volunteers-edit>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <h4>Public Notes</h4>
              </div>
              <div class="col-sm-12">
                <textarea class="form-control" rows="5" ng-model="vm.assignment.notes"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <h4>Admin Notes</h4>
              </div>
              <div class="col-sm-12">
                <textarea class="form-control" rows="5" ng-model="vm.assignment.admin_notes"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <button class="btn btn-lg btn-primary" type="submit" value="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
  <div ng-if="!vm.edit">
    <div class="assignment-display container-fluid">
      <h1 ng-bind="vm.assignment.name"></h1>
      <div class="col-md-4">
        <div class="left-column__section">
          <p class="left-column__header">Date</p>
          <span ng-bind="vm.displayDate(vm.assignment.start_date)"></span>
        </div>
        <div class="left-column__section">
          <p class="left-column__header">Start Time</p>
          <span ng-bind="vm.displayTime(vm.assignment.start_date)"></span>
        </div>
        <div class="left-column__section">
          <p class="left-column__header">Language</p>
          <span ng-bind="vm.assignment.language_name | languageKeyToName"></span>
        </div>

        <div class="left-column__section">
          <h3>Contact</h3>
          <div ng-show="vm.assignment.contact.street" class="left-column__section">
            <p class="left-column__header">Street</p>
            <span ng-bind="vm.assignment.contact.street"></span>
          </div>
          <div ng-show="vm.assignment.contact.city" class="left-column__section">
            <p class="left-column__header">City</p>
            <span ng-bind="vm.assignment.contact.City"></span>
          </div>
          <div ng-show="vm.assignment.contact.state" class="left-column__section">
            <p class="left-column__header">State</p>
            <span ng-bind="vm.assignment.contact.state"></span>
          </div>
          <div ng-show="vm.assignment.contact.zip" class="left-column__section">
            <p class="left-column__header">ZIP Code</p>
            <span ng-bind="vm.assignment.contact.zip"></span>
          </div>
          <div ng-show="vm.assignment.contact.phone_number" class="left-column__section">
            <p class="left-column__header">Phone Number</p>
            <span ng-bind="vm.assignment.contact.phone_number"></span>
          </div>
          <div ng-show="vm.assignment.contact.email" class="left-column__section">
            <p class="left-column__header">Email</p>
            <span ng-bind="vm.assignment.contact.email"></span>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Volunteers</h3>
          </div>
          <p class="panel-body" ng-show="vm.assignment.volunteers.length === 0">No Volunteers Assigned</p>
          <table ng-show="vm.assignment.volunteers.length > 0" class="table table-striped table-hover">
            <thead>
              <tr >
                <th>Name</th>
                <th>Volunteer Level</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-click="vm.viewProfile(volunteer)" ng-repeat="volunteer in vm.assignment.volunteers">
                <td ng-bind="volunteer.full_name"></td>
                <td ng-bind="volunteer.volunteer_level"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
          </div>
          <p class="panel-body" ng-show="vm.assignment.notes" ng-bind="vm.assignment.notes"></p>
          <p class="panel-body" ng-show="!vm.assignment.notes">No notes found</p>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Admin Notes</h3>
          </div>
          <p class="panel-body" ng-show="vm.assignment.admin_notes" ng-bind="vm.assignment.admin_notes"></p>
          <p class="panel-body" ng-show="!vm.assignment.admin_notes">No notes found</p>
        </div>
      </div>
      <div class="col-md-12">
        <button ng-show="vm.assignment.volunteers.length > 0" type="button" ng-click="vm.openNotificationsModal(vm.assignment.volunteers)" class="btn btn-lg btn-primary">Contact</button>
        <button type="button" ng-if="vm.userIsAdmin" ng-click="vm.edit = true" class="btn btn-lg btn-info">Edit</button>
      </div>
    </div>
  </div>
</div>
