<div>
  <h1>{{ vm.volunteer.firstName }} 
    {{ vm.volunteer.middleName }}
    {{ vm.volunteer.lastName  }}</h1>

  <div class="row">
    <div class="col-md-4">
      <strong>Gender:</strong><br>
      {{ vm.volunteer.gender }}<br><br>

      <strong>Birthday:</strong><br>
      {{ vm.volunteer.birthday }}<br><br>

      <strong>Languages:</strong><br>
      <span ng-bind="vm.volunteer.languages.join(', ')"></span>

      <br><br>

      <strong>Contact:</strong><address>
        {{ vm.volunteer.contact.street }}<br>
        {{ vm.volunteer.contact.city }},
        {{ vm.volunteer.contact.state }}
        {{ vm.volunteer.contact.zip }}<br>

        {{ vm.volunteer.contact.phoneNumber }}<br>
        <a href="mailto:#">{{ vm.volunteer.contact.email }}</a><br>
      </address>
    </div>

    <div class="col-md-8">
      <strong>Volunteer Level</strong><br>
      {{ vm.volunteer.volunteerLevel }}<br><br>
      <strong>Hours Completed:</strong><br>
      {{ vm.volunteer.hours }}<br><br>
      <strong>Notes:</strong><br>
      {{ vm.volunteer.notes }}
    </div>
  </div>

  <button type="button" class="btn btn-primary">Contact</button>
  <button type="button" class="btn btn-info">Edit</button>


</div>
