<div class="volunteer-display container-fluid">
  <h1>{{ vm.volunteer.first_name }}
    {{ vm.volunteer.middle_name }}
    {{ vm.volunteer.last_name }}</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="left-column__section">
        <p class="left-column__header">Gender:</p>
        <span ng-bind="vm.volunteer.gender || 'Unknown'"></span>
      </div>
      <div class="left-column__section">
        <p class="left-column__header">Birthday:</p>
        <span ng-bind="vm.volunteer.birthday || 'Unkown'"></span>
      </div>
      <div class="left-column__section">
        <p class="left-column__header">Languages:</p>
        <div ng-repeat="language in vm.volunteer.languages">
          <span ng-bind="vm.languages[language.language_name]"></span>
          <span class="glyphicon" ng-class="{language.can_written_translate: glyphicon-edit, !language.can_written_translate: glypicon-user}"></span>
        </div>
      </div>

      <div class="left-column__section">
        <p class="left-column__header">Volunteer Level:</p>
        <span ng-bind="vm.volunteer.volunteer_level">
      </div>
      <div class="left-column__section">
        <p class="left-column__header">Hours Completed:</p>
        <span ng-bind="vm.volunteer.hours"></span>
      </div>

      <div class="left-column__section">
        <p class="left-column__header">Contact:</p>
        <address>
          {{ vm.volunteer.contact.street }}<br>
          {{ vm.volunteer.contact.city }},
          {{ vm.volunteer.contact.state }}
          {{ vm.volunteer.contact.zip }}<br>
          {{ vm.volunteer.contact.phone_number }}<br>
          <a href="mailto:#">{{ vm.volunteer.contact.email }}</a>
        </address>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Availability</h3>
        </div>
        <table class="table table-striped table-hover availability-table">
          <thead>
          <tr>
            <th class="day-column">
              Day
            </th>
            <th class="start-time-column">
              Start Time
            </th>
            <th class="end-time-column">
              End Time
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="availability in vm.volunteer.availability">
            <td class="day-column" ng-bind="availability.day"></td>
            <td class="start-time-column" ng-bind="availability.start_time | date"></td>
            <td class="end-time-column" ng-bind="availability.end_time | date"></td>
          </tr>
          <tr ng-show="vm.volunteer.availability.length === 0">
            <td colspan="3">No availabilities listed</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notes</h3>
        </div>
        <p class="panel-body" ng-show="vm.volunteer.notes" ng-bind="vm.volunteer.notes"></p>
        <p class="panel-body" ng-show="!vm.volunteer.notes">No notes found</p>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-lg btn-primary">Contact</button>
  <button type="button" ng-if="vm.userIsAdmin" ng-click="vm.edit = true" class="btn btn-lg btn-info">Edit</button>
</div>
