.volunteer {
  margin-bottom: 30px;
  .left-column__section {
    margin-bottom: 10px;
    .left-column__header {
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  .form-control {
    border-radius: 4px !important;
    margin: 4px 0;
  }

  .day-column, .start-time-column, .end-time-column {
    text-align: center;
  }

  .panel-body {
    margin-bottom: 0;
  }

  td {
    text-align: center;
  }
  .ui-select-toggle {
    margin: 0;
  }
}
