.sortorder:after {
  content: '\25b2';
}

.sortorder.isReverseOrder:after {
  content: '\25bc';
}

label {
  font-weight: normal;
}

.volunteers-table {
  th {
    cursor: pointer;
  }

  .notify-column {
    text-align: center;
    width: 10%;
  }

  .first-name-column, .last-name-column, .languages-column {
    width: 30%;
  }
}

.input-label {
  margin-right: .5em;
}

.language-select-group {
  display: inline-block;
  margin-right: .5em;
}

.inline-checkbox {
  display: inline-block;
}

.language-filters {
  margin-bottom: 2em;
}

.language-select {
  display: inline-block;
  width: 300px !important;
}

.form-group {
  margin-right: 1em;
}

.search-filters {
  margin-bottom: 1em;
}

.clickable {
  cursor: pointer;
}
