# Local stuff
.DS_STORE
.vagrant
.idea*
tags
static

# Installer logs
pip-log.txt
install.log
pip-delete-this-directory.txt
npm-debug.log*

# node stuff
node_modules
.npm
.node_repl_history

#lots of python stuff
*.pyc
*.pyo

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
*.tmp*
common.cab
VirtualBox-5.0.10-r104061-MultiArch*
