.assignments {
  .language-select-group {
    display: inline-block;
    width: 200px;
  }

  .assignment__filter {
    margin-left: .1em;
    margin-right: 2em;
    display: inline-block;
    margin-bottom: 1em;
  }

  .assignment__filter_type {
    min-width: 200px;
  }

  label {
    margin-right: .5em;
  }
}
