<div class="assignments">
  <h1>Upcoming Assignments</h1>
  <form class="form-inline assignment__filter">
    <div class="form-group">
      <label for="assignment-name" class="input-label">Assignment Name:</label>
      <input class="form-control" id="assignment-name" type="text" ng-model="vm.search.name">
    </div>
  </form>
  <div class="assignment__filter">
    <label class="input-label">Language:</label>
    <language-select selected-language="vm.search.language_name"></language-select>
  </div>
  <div ng-if="vm.isAdmin" class="assignment__filter">
    <label class="radio-inline">
      <input type="radio" name="assignmentStatus" ng-model="vm.search.status" ng-value="1"> Upcoming assignments
    </label>
    <label class="radio-inline">
      <input type="radio" name="assignmentStatus" ng-model="vm.search.status" ng-value="2"> Completed assignments
    </label>
    <label class="radio-inline">
      <input type="radio" name="assignmentStatus" ng-model="vm.search.status" ng-value="0"> Unverified assignments
    </label>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th ng-click="vm.isReverseOrder = !vm.isReverseOrder">Date
          <span class="sortorder" ng-class="{isReverseOrder:vm.isReverseOrder}"></span>
        </th>
        <th>Time</th>
        <th>Assignment Name</th>
        <th>Language</th>
        <th>Assigned Volunteers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="assignment in vm.assignments | filter:vm.search | orderBy:'start_date':vm.isReverseOrder">
        <td ng-bind="assignment.start_date | date:'shortDate'"></td>
        <td ng-bind="assignment.start_date | date:'shortTime'"></td>
        <td ng-bind="assignment.name"></td>
        <td ng-bind="assignment.language_name | languageKeyToName"></td>
        <td>
          <span ng-if="!assignment.volunteers.length">
            None.
            <span ng-if="vm.isAdmin"
              class="assignment__warning" ng-click="vm.openNotificationsModal(assignment.language_name)">
              Find volunteer
            </span>
          </span>
          <span ng-if="assignment.volunteers.length" ng-bind="vm.getVolunteersDisplay()"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
