<div class="container c">
  <div class="jumbotron holder">
    <div class="c">
      <img src="static/viplogo.png">
      <h2>Volunteer Interpreter Application Form</h2>
    </div>
    <form validate role="form" class="form-horizontal vaf">
      <div class="form-group">
	<div class="col-sm-5">
          <input required type="text" class="form-control" ng-model="vm.info.fname" id="fname" placeholder="First Name">
	</div>
	<div class="col-sm-5">
          <input required type="text" class="form-control" ng-model="vm.info.lname" id="lname" placeholder="Last Name">
	</div>
	<div class="col-sm-2">
	  <input type="text" class="form-control" ng-model="vm.info.mi" id="mi" placeholder="MI">
	</div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" ng-model="vm.info.school" id="school" placeholder="Current School (if applicable)">
	</div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input required type="text" class="form-control" ng-model="vm.info.street" id="street" placeholder="Street Address">
	</div>
        <div class="col-sm-7">
          <input required type="text" class="form-control" ng-model="vm.info.city" id="city" placeholder="City">
	</div>
	<div class="col-sm-2">
          <input required type="text" class="form-control" ng-model="vm.info.state" id="state" placeholder="State">
	</div>
	<div class="col-sm-3">
          <input required type="text" class="form-control" ng-model="vm.info.zip" id="zip" placeholder="ZIP Code">
	</div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" ng-model="vm.info.email" id="email" placeholder="E-mail Address">
	</div>
	<div class="col-sm-4">
          <input type="tel" class="form-control" ng-model="vm.info.phone" id="phone" placeholder="Phone Number">
	</div>
	<label for="pref-contact" class="col-sm-5 control-label">Preferred contact method:</label>
	<div class="col-sm-3">
          <select id="pref-contact" class="form-control" ng-model="vm.info.contact" ng-options="contact for contact in vm.contacts"></select>
	</div>
      </div>
      <div class="form-group">
        <label for="languages" class="col-sm-5">Languages Spoken</label>
	<div class="col-sm-12">
          <input required type="text" id="languages" class="form-control" ng-model="vm.info.languages" placeholder="Please enter languages separated by commas"/>
	</div>
      </div>
      <div class="form-group">
        <label for="bha" class="col-sm-11">Are you currently a BHA housing applicant or a BHA resident?</label>
	<div class="col-sm-1">
	  <input id="bha" type="checkbox" ng-model="vm.info.bha" />
	</div>
      </div>
      <div class="form-group">
        <label class="col-sm-4">Availability</label>
        <div class="col-sm-12">
          <table class="table table-bordered avail-tab table-responsive">
	    <thead>
	      <tr>
	        <th></th>
	        <th>Sun</th>
	        <th>Mon</th>
	        <th>Tue</th>
	        <th>Wed</th>
	        <th>Thu</th>
	        <th>Fri</th>
	        <th>Sat</th>
	      </tr>
	    </thead>
	    <tr>
	      <th>AM</th>
	      <th><input type="checkbox" ng-model="vm.info.avSunAM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avMonAM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avTueAM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avWedAM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avThuAM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avFriAM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avSatAM"></th>
	    </tr>
	    <tr>
	      <th>PM</th>
	      <th><input type="checkbox" ng-model="vm.info.avSunPM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avMonPM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avTuePM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avWedPM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avThuPM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avFriPM"></th>
	      <th><input type="checkbox" ng-model="vm.info.avSatPM"></th>
	    </tr>
	  </table>
	</div>
      </div>
      <div class="sub">
        <input class="sub btn btn-primary" type="submit" ng-click="vm.update()" value="Submit" />
      </div>
    </form>
  </div>
</div>
