.c {
    text-align: center;
}

.holder {
    margin: 0 auto;
    max-width: 740px;
    padding-top: 0;
}

.vaf {
    max-width: 500px;
    margin: inherit;
}

.avail-tab th {
    text-align: center;
    background-color: #f9f9f9;
}

.vaf input, .vaf select {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 4px !important;
}

.vaf label {
    text-align: left;
    font-weight: bold;
}

.sub {
    text-align: right;
}