.c {
    text-align: center;
}

.m750 {
    max-width: 740px;
}

.err {
    color: #c00;
}

h6.err {
    margin-top: 0px;
    font-size: .83em;
}
    
input.ng-invalid.submitted,
input.ng-invalid.submitted,
input.invalid.submitted,
table.submitted.invalid td,
select.submitted.ng-invalid,
select.submitted.invalid {
    background-color: #ffeeee;
}

.tab th {
    text-align: center;
    background-color: #f9f9f9;
}

td {
    background-color: #f2f2f2;
}

.vaf input, .vaf select {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 4px !important;
}

.vaf label {
    text-align: left;
    font-weight: bold;
}

.sub {
    margin-top: 4px;
    text-align: right;
}

h6.invalid {
    color: #c00;
    font-size: 1.15em;
}

.add-btn {
    color: #f4f4f4;
    width: 100px;
    height: 20px;
    padding-top: 0px;
}

.but-tag {
    text-align: right;
    margin-top: -22px;
}

@media screen and (max-width: 767px) {
    .but-tag {
        margin-top: -17px;
    }
}

.add-btn:hover, .add-btn:focus {
    color: #fff;
}