@import 'common/common';
@import '~normalize.css/normalize.css';

.app {
  height: 100%;
  & > .container {
    padding: 0;
  }

  .alert {
    z-index: 100;
    text-align: center;
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .jumbotron {
    border-radius: 0;
  }
}

form {
  .err {
      color: #c00;
      display: none;
  }

  h6.err {
    margin-top: 0;
  }

  &.ng-submitted {
    .ng-invalid-required, .invalid {
      background-color: #ffeeee;
    }
    .err {
      display: block;
    }
  }
}

.list-buttons {
  text-align: right;
  margin-top: -15px;

  button {
    &:hover, &:focus {
      color: #fff;
    }
    color: #f4f4f4;
    width: 100px;
    height: 20px;
    padding-top: 0px;
  }
}

.tab {
  th {
    text-align: center;
    background-color: #f9f9f9;
  }
  td {
    background-color: #f2f2f2;
  }
}

.notifications-body {
  h4 {
    text-align: center;
  }
  
  textarea {
    margin-bottom: 20px;
  }
  
  table.notifications-table {
    th, td {
      text-align: center;
    }
    
    td {
      vertical-align: middle;
    }
    
    background-color: #fafafa;
  }
}

#add-assignment-container {
  max-width: 800px;
  min-width: 800px;
  margin: 0 auto;
  
  label {
    vertical-align: middle;
  }
}
