@import 'common/common';
@import '~normalize.css/normalize.css';

.app {
  height: 100%;

  .alert {
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
