<div class="modal-header">
  <h3 class="modal-title">Notify Volunteers</h3>
</div>
<div ng-show="notificationsSent" class="modal-body">
  <h3>Notifications Sent Successfully!</h3>
</div>
<div ng-show="notificationsSent" class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="cancel()">Ok</button>
</div>
<div ng-show="error" class="modal-body">
  <h3>Something went wrong...</h3>
</div>
<div ng-show="error" class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="cancel()">Ok</button>
</div>
<div ng-show="!notificationsSent && !error" class="col-sm-12 notifications-body">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-bordered table-responsive notifications-table">
      <thead>
        <th class="col-sm-1"></th>
        <th class="col-sm-4">Name</th>
        <th class="col-sm-4">Contact</th>
        <th class="col-sm-3">
          <select class="form-control" ng-model="contactMethodAll" ng-options="method for method in contactMethods" ng-change="updateAllContactMethods()"></select>
        </th>
      </thead>
      <tbody class="table">
        <tr ng-repeat="volunteer in selectedVolunteers">
          <td>
            <button type="button" class="close" ng-click="removeFromTable(volunteer)" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
          <td ng-bind="volunteer.fullName"></td>
          <td ng-bind="volunteer.contactMethod === 'Email' ? volunteer.email : volunteer.phoneNumber"></td>
          <td><select class="form-control" ng-model="volunteer.contactMethod" ng-disabled="volunteer.onlyEmail" ng-options="method for method in contactMethods"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="col-sm-2 col-sm-offset-2">Subject:</h4>
  <div class="col-sm-6">
    <input type="text" ng-model="notificationSubject" class="form-control">
  </div>
  <h4 class="col-sm-12">Email Message</h4>
  <div class="col-sm-8 col-sm-offset-2">
    <textarea ng-model="notificationMessage" class="form-control" rows="2"></textarea>
  </div>
  <h4 class="col-sm-12">Text Message</h4>
  <div class="col-sm-8 col-sm-offset-2">
    <textarea ng-model="notificationTextMessage" class="form-control" rows="2"></textarea>
  </div>
</div>
<div ng-show="!notificationsSent && !error" class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="selectedVolunteers.length === 0" ng-click="sendNotifications()">Send Notifications</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
