<html>
<body>
<p>Dear {{name}},</p>

<p>Please let us know if you can help with any of the following assignments:</p>

<p>{{assignment_list}}</p>
<p>
[ASSIGNMENT NAME 1] on [START DATE 1] for [LANGUAGE 1]
[ASSIGNMENT NAME 2] on [START DATE 2] for [LANGUAGE 2]
[ASSIGNMENT NAME 3] on [START DATE 3] for [LANGUAGE 3]
</p>
<p>To sign up for any of these assignments, please visit {{bha_url}}.</p>
<p>If you're unable to access the assignment sign up please email us at {{bha_email}} or call us at {{bha_phone}}.</p>

<p>On behalf of the BHA, thank you for your service!</p>
</body>
</html>