<html>
<body>
<p>Dear {{name}},</p>

<p>This is a reminder that you are signed up to help with the following written translation assignment:
</p>
<p>Translation of {{assignment_name}} into {{assignment_language}} by {{start_date}}
</p>
<p>If for any reason you are no longer able to assist with this assignment or if you have any questions please email {{bha_email}} or call us at {{bha_phone}}.
</p>
<p>For more information or to update your availability, please log in to your volunteer profile at {{bha_url}}.
</p>

<p>On behalf of the BHA, thank you for your service!</p>

</body>
</html>