<html>
<body>
<p>Dear {{name}},</p>
<p>A Boston Housing Authority staff member has created an account on your behalf for the Volunteer Interpreter Program. You can log in, sign up for opportunities, and manage your appointments and written translations at {{bha_vip_url}} using the following login information

</p>
<p>Password: {{volunteer_password}}
</p>
<p>Once you have logged in, please change your password. If you need assistance or have questions, please email us at {{bha_email}} or call us at {{bha_phone}}.
</p>
</body>
