<div class="container">
  <div class="reset-password">
    <form ng-if="vm.updateState">
      <h2>Reset Password</h2>
      <label for="inputUn" class="sr-only">Email</label>
      <input type="text" ng-model="vm.email" id="inputUn" class="form-control" placeholder="Email" required autofocus>
      <button class="submit btn btn-lg btn-primary btn-block" ng-click="vm.resetPassword()">Reset</button>
    </form>
    <form ng-if="!vm.updateState">
      <h2>Update Password</h2>
      <label for="inputUn" class="sr-only">Password</label>
      <input type="password" ng-model="vm.newPassword" id="inputUn" class="form-control" placeholder="Password" required autofocus>
      <label for="inputUn" class="sr-only">Confirm Password</label>
      <input type="password" ng-model="vm.newPasswordAgain" id="inputUn" class="form-control" placeholder="Confirm Password" required autofocus>
      <h5 class="error" ng-bind="vm.passwordError"></h6>
      <button ng-disabled="vm.checkPassword()" class="submit btn btn-lg btn-primary btn-block" ng-click="vm.updatePassword()">Reset</button>
    </form>
  </div>
</div>
